html {
  background-color: #999;
}

body {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
  background-color: #AAA;

  box-shadow: inset 0px 0px 5px 0px #555;
}

h1.snippet-name {
  border-bottom: 5px solid black;
}

h1.title {
  margin: 0px;
  text-align: center;
  
  padding-top: 40px;
  
  font-size: 600%
}

h2.subtitle {
  text-align: center;
  font-weight: normal;
}

a.snippet-tag {
  transition:.3s;

  background-color: #555;
  display: inline-block;
  padding: 5px;
  margin: 0px 2px 2px;
  text-decoration: none;
  color: #CCC;

  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  border-color: #000;

  box-shadow: inset 0px 0px 1px 0px #000;
}

a.snippet-tag:hover {
  background-color: #999;
}

.subsection {
  background-color: #BBB;

  box-shadow: inset 0px 0px 5px 0px #555;

  margin-bottom: 1em;
}

.search-results {
  transition: ease height 1s;
  height: 0px;
  overflow: hidden;
}

.search-result {
  box-shadow: inset 0px 0px 5px 0px #555;
  background-color: #CCC;
  padding: 15px 15px 0px;
}

.search-result a.result-title {
  font-size: 120%;
  text-decoration: none;  
}

.search-result a.result-title:hover {
  text-decoration: underline;
}

.search-result .result-desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-area input {
  background-color: #EEE;
}

.search-textbox {
  display: block;
  margin-right: auto;
  margin-left: auto;
  
  width: 40%;
  
  font-size: 120%;
  border-style: none;
  border-radius: 5px;
  
  padding: 5px;
}

footer li {
  display: inline;
  padding: 0px 30px;
}

footer a {
  color: #555;
  text-decoration: none;
}